@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;

}
.image{
  height: 300px;
  width: 800px;
}
p{
  font-size: 1.1em;
}
.background {
 width: 100%;
}
a{
    color: white;
    text-decoration: none;
    
    &:visted{
        color: white;
        text-decoration: none;

    }
}
.link{
    text-decoration: none;
}
.list{
    color: black !important;
}
.round{
  width: 200px;
  border-radius: 50%;
}

